<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaylangkung.dht">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DHT">
        <activity
            android:name=".dht.packing.PackingScannerActivity"
            android:exported="false" />
        <activity
            android:name=".dht.packing.PackingActivity"
            android:exported="false" />
        <activity
            android:name=".dht.sales_contract.SalesContractActivity"
            android:exported="false" />
        <activity
            android:name=".dht.inquiries.InquiriesActivity"
            android:exported="false" />
        <activity
            android:name=".master_design.goods.GoodsActivity"
            android:exported="false" />
        <activity
            android:name=".master_design.shipment.ShipmentActivity"
            android:exported="false" />
        <activity
            android:name=".master_design.product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".master_design.supplier.SupplierActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.level.ViewAccessActivity"
            android:exported="false" />
        <activity
            android:name=".master_design.customer.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.level.LevelActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.admin.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.admin.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginWebAppActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>